.image-menu {
	display: flex;
	justify-content: flex-end;
	padding: 2%;

	.fa {
		height: auto;
		margin: 0;
		width: 1.2em;
	}

	.btn:hover {
		background-color: $brightAccent;
		border: 1px solid darken($brightAccent, 10%);

		transition: all 0.5s ease;
	}
}

.thumb-container {
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 2% auto;
	padding: 0;
	width: 90%;

	li {
		display: inline-block;
		margin: 1%;
		width: 12em;
	}
}

.thumb-wrapper {
	display: inline-block;
	width: 100%;
}

.thumb-img {
	border-radius: 0.5em;
	width: 100%;
}

.arrow {
	text-decoration: none;

	&:hover {
		background-color: rgba(0,0,0,0.1);
		cursor: pointer;
	}
}

.slider-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	width: 100%;

	.arrow.little {
		height: 8em;
	}
}

.slider-img-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	margin: 0;
	align-items: center;
	overflow: hidden;
	width: 90%;

	li {
		display: flex;
		align-items: center;
		height: 10em;
		margin: 0 0.5%;
	}
}